.main-link.nav-link.active {
  /* color: #0d6efd !important; */
  background-color: black;
  font-weight: bold;
  color: white;
}

.main-link.nav-link:not(.active) {
  color: grey !important;
}

.dropdown-toggle::after {
  display: none !important;
}


.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  /* background-color: rgba(0, 0, 0, 0.5); */
  z-index: 99;
  display: flex;
  justify-content: center;
  align-items: center;
}

.overlay-content {
  background-color: #fff;
  padding: 20px;
  border-radius: 5px;
}

.navbar {
  position: relative;
  z-index: 999;
}

#table-container {
  height: 47vh;
}

/* -----LOGIN CSS */

.card {
  border: none;
}

.card {
    width: 100%;
    margin-top: auto;
    margin-bottom: auto;
}

@media (max-width: 768px) {
    .card {
      height: 100vh;
    }
  }

